* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(15, 33, 84);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav div {
  display: flex;
  padding: 1rem;
  gap: 10em;
}

nav div a {
  text-decoration: none;
  color: #000;
  font-family: "Neue Montreal";
}
