.welcomeScreen-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.welcomeScreen-container > h1 {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
