* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-color: rgb(0, 153, 255); */
}

.overlay1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  pointer-events: none;
}

.bar1 {
  width: 10vw;
  height: 100vh;
  background-color: black;
  pointer-events: none;
}

.overlay2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  pointer-events: none;
  z-index: 1;
}

.bar2 {
  width: 10vw;
  height: 100vh;
  background-color: rgb(0, 153, 255);
  pointer-events: none;
  z-index: 1;
}

.counter {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000000;
  color: rgb(0, 153, 255);
  padding: 0.2em 0.4em;
  font-size: 20vw;
  pointer-events: none;
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* From Uiverse.io by adamgiebl */
button {
  z-index: 2;
  left: 70vh;
  top: 100%;
  /* transform: rotate(15deg); */
  /* transform: skew(25deg); */
  transform-style: preserve-3d;
  position: relative;
  list-style: none;
  width: 300px;
  height: 90px;
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

button:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform: skewX(-41deg);
}

button:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}

button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: #fff;
  font-size: 90px;
  transition: 1.1s ease-out;
  font-family: "Tiny5", serif;
  font-weight: 400;
  font-style: normal;
}

button:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
}

button:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

button:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

button:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

button:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

button:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

button:active span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

button:active span:nth-child(4) {
  transform: translate(15px, -15px);
}

button:active span:nth-child(3) {
  transform: translate(10px, -10px);
}

button:active span:nth-child(2) {
  transform: translate(5px, -5px);
}

button:active span:nth-child(1) {
  transform: translate(0px, 0px);
}

button:nth-child(1):hover span {
  background: #52e19f;
}
